@model NuoroLight.Domain.ViewModels.Account.RegisterViewModel
@{
    ViewData["Title"] = "ثبت نام";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <!-- App Favicon -->
    <link rel="shortcut icon" href="Dashboard/assets/images/favicon.ico">

    <!-- App title -->
    <title>@ViewData["Title"]</title>

    <!-- App CSS -->
    <link href="Dashboard/assets/css/bootstrap-rtl.min.css" rel="stylesheet" type="text/css" />
    <link href="Dashboard/assets/css/core.css" rel="stylesheet" type="text/css" />
    <link href="Dashboard/assets/css/components.css" rel="stylesheet" type="text/css" />
    <link href="Dashboard/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="Dashboard/assets/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="Dashboard/assets/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="Dashboard/assets/css/responsive.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="Dashboard/assets/js/modernizr.min.js"></script>

</head>
<body>

    <div class="account-pages"></div>
    <div class="clearfix"></div>
    <div class="wrapper-page">
        <div class="text-center">
            <h5 class="text-muted m-t-0 font-600">نورو لایت سیستم کنترل روشنایی خانه هوشمند</h5>
        </div>
        <div class="m-t-40 card-box">
            <div class="text-center">
                <h4 class="text-uppercase font-bold m-b-0">ثبت نام</h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal m-t-20" asp-action="Register" asp-controller="Account">
                    <partial name="_CaptchaInput" />
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" asp-for="Email" type="email"  placeholder="ایمیل">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" asp-for="UserName"  placeholder="نام کاربری">
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" asp-for="Mobile"  placeholder="تلفن همره">
                            <span asp-validation-for="Mobile" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" asp-for="PassWord"  placeholder="کلمه عبور">
                            <span asp-validation-for="PassWord" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" asp-for="ConferimPassWord"  placeholder="تکرار کلمه عبور">
                            <span asp-validation-for="ConferimPassWord" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group text-center mt-4">
                        <button type="submit" class="btn btn-success btn-lg btn-block">
                            ثبت نام
                        </button>
                    </div>

                </form>

            </div>
        </div>
        <!-- end card-box -->

        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="text-muted">اکانت کاربری داری?<a asp-action="Login" asp-controller="Account" class="text-primary m-l-5"><b>وارد شو</b></a></p>
            </div>
        </div>

    </div>
    <!-- end wrapper page -->




    <script>
        var resizefunc = [];
    </script>

    <!-- jQuery  -->
    <script src="Dashboard/assets/js/jquery.min.js"></script>
    <script src="Dashboard/assets/js/bootstrap-rtl.min.js"></script>
    <script src="Dashboard/assets/js/detect.js"></script>
    <script src="Dashboard/assets/js/fastclick.js"></script>
    <script src="Dashboard/assets/js/jquery.slimscroll.js"></script>
    <script src="Dashboard/assets/js/jquery.blockUI.js"></script>
    <script src="Dashboard/assets/js/waves.js"></script>
    <script src="Dashboard/assets/js/wow.min.js"></script>
    <script src="Dashboard/assets/js/jquery.nicescroll.js"></script>
    <script src="Dashboard/assets/js/jquery.scrollTo.min.js"></script>

    <!-- App js -->
    <script src="Dashboard/assets/js/jquery.core.js"></script>
    <script src="Dashboard/assets/js/jquery.app.js"></script>

</body>
</html>

