@model NuoroLight.Domain.ViewModels.User.DeleteAndRestoreUserViewModel
<form method="post" asp-action="DeleteUser" asp-area="Admin" asp-controller="User" id="deleteuser-@Model.UserId">
    <input type="hidden" asp-for="@Model.UserId" />
    <button type="button" onclick="RemoveUser(@Model.UserId)" class="btn btn-sm btn-danger">حذف کاربر</button>
</form>