@model NuoroLight.Domain.ViewModels.User.DeleteAndRestoreUserViewModel
<form method="post" asp-action="RestoreteUser" asp-area="Admin" asp-controller="User" id="userrestore-@Model.UserId" >
    <input type="hidden" asp-for="@Model.UserId" />
    <button type="button" onclick="RestoreUser(@Model.UserId)" class="btn btn-sm btn-warning">بازگردانی کاربر</button>
</form>