    <!-- Home Section Start -->

<div class="home" id="home">
    <div class="shape">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="container">
        <div class="row min-vh-100 align-items-center">
            <div class="col-lg-6 text-sm-center">
                <div class="home-content">
                    <h1 class="mb-5 text-white">هوشمندترین سیستم روشنایی خانه</h1>
                    <p class="text-white mb-5">
                        تجربه‌ای جدید از روشنایی هوشمند با قابلیت کنترل از راه دور، تنظیم شدت نور، و صرفه‌جویی در مصرف انرژی.
                        با استفاده از این سیستم، خانه‌ای مدرن و هوشمند داشته باشید و محیطی دلنشین برای خود و خانواده‌تان ایجاد کنید.
                    </p>
                    <a href="#about" class="home-btn">درباره ما</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="home-img text-left">
                    <img src="/assets/images/smart-lighting.png" class="img-fluid w-75" alt="سیستم روشنایی هوشمند">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Home Section end -->